<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Reggae+One&family=Maven+Pro&family=Roboto+Slab&family=RocknRoll+One&family=Montserrat&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/master.css">
  <title>Error {{code}}</title>


  <!-- Favicons here -->
  <link rel="icon" href="static/images/favicon-200x200.png" sizes="200x200" type="image/png">
  <link rel="icon" href="static/images/favicon-527x527.png" sizes="527x527" type="image/png">

</head>

<body>
  <div class="container-fluid error-box modal-dialog-centered justify-content-center text-center">
    <h1 class="display-1 form-txt error-txt">ERROR {{code}} - {{message}}!</h1>
  </div>
</body>

</html>